<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Pedidos</title>
</head>
<body>

{% extends "AppGoldenCafe/padre.html" %}

{% load static %}

{% block contenidoQueCambia %} 

<!--Aquí va lo que cambia, y lo asociado a está vista :) -->
   

    <!-- EDICION -->
     
        <header class="page-top" style="margin-top: 80px;">
            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
                <div class="d-flex justify-content-center">
                    <div class="text-center">
                        <h1 class="mx-auto my-0" style="border-color: antiquewhite;"> </h1>

                        
                    </div>
                </div>
            </div>
        </header>

        <section>

            <h1> Edición de Pedidos </h1>

            <br>

            <!-- Editar Pedido -->
            <h2 class="text-black-50 mx-auto mt-2 mb-2" style="border-color: antiquewhite; font-size: 20px;">Complete los campos para editar el pedido:</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_table }}
                <button type="submit" name="agregar_pedido">Editar Pedido</button>
            </form>



            <!-- Resultado Busqueda Pedido -->
            {% if pedidos %}
                <table>
                    <thead>
                        <tr>
                            <th> Pedido /</th>
                            <th> Unidades </th>
                            
                            </tr>
                    </thead>
                    <tbody>
                        {% for pedido in pedidos %}
                            <tr>
                                <td>{{ pedido.tipo_cafe }}</td>
                                <td>{{ pedido.unidades }}</td>
                                <td>
                                    <a href="{% url 'editar_pedido' pedido.tipo_cafe %}">Editar</a>                            
                                </td>
                                </tr>
                        {% endfor %}
                    </tbody>
                </table>  

            {% else %}
                {{ mensaje }}
            {% endif %}

            <br>

        </section>  
   


{% endblock %}

</body>
</html>